.Main i{
    cursor: pointer;
}


.Link {
    text-decoration: none;
}

.Link i{
    margin-right: 10px;
}

.LinkLogout{
    text-decoration: none;
}

.LinkLogout i{
    margin-right: 10px;
}


.back{
    color: white;
    background-color: red;
    padding: 6px;
    border-radius: 100%;
}

.Menu a:hover,
.Menu a:active,
.Menu a.active {
    color:red;
}
