.Main{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    /* background: #1D2B64;  
background: -webkit-linear-gradient(to bottom, #F8CDDA, rgb(86, 29, 100)); 
background: linear-gradient(to bottom, #F8CDDA, rgb(80, 29, 100));  */

 
}
  
  .Album{
      background-color: white;
      position: relative;
      height: 100%;
      width: 95%;
      margin: 42px auto;
      border-radius: 10px;
  -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
  -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
  box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
  }

  .AlbumImage{
    text-align: center;
    margin: 0 auto;
  float:left;
  width:50%;
  
}

.AlbumImage img{
  text-align: center;
  vertical-align: middle;
  height: 130px;
  width: 100px;
  margin: 10px 25px;
  object-position: top;
  object-fit: cover;
border-radius: 10%;
-webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
  -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
  box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}

.Cart{
    width: 95%;
    display: flex;
    padding: 30px;
}

table{
    display: table;
    border-collapse: separate;
    border-spacing: 2px;
    border-color: grey;
}

thead > tr {
    height: auto;
}

.Table{
    width: auto;
    margin-bottom: 0;
    border-spacing: 0;
    background-color: transparent;
    display: table;
    border-collapse: collapse;
}

.Thead{
    color: #999;
    font-size: 1.3rem;
    display: table-header-group;
}

.TheadTrow {
    height: 56px;
    color: inherit;
    height: 48px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}

.ThTrTh1{ /*733*/
    display: table-cell;
}

.ThTrTh2{ /*716*/
    color: #555;
    font-size: 1.063rem;
    font-weight: 300;
    border-top-width: 0 !important;
    border-bottom-width: 1px;
}

.ThTrTh3{ /*715*/
    color: #3C4858;
    padding: 12px 8px!important;
    position: relative;
    font-size: 0.875rem;
    border-top: 1px solid #ddd;
    font-weight: 300;
    line-height: 1.5em;
    border-bottom: none;
    vertical-align: middle;
}

.ThTrTh4{ /*703*/
    text-align: center;
}

.ThTrTh5{ /*714*/
    font-size: 0.75em !important;
    text-transform: uppercase !important;
}

.ThTrTh6{ /*734*/
    color: rgba(0, 0, 0, 0.54);
    font-size: 0.75rem;
    font-weight: 500;
}

.ThTrTh7{ /*694*/
    max-width: 150px;
}

.ThTrTh8{ /*704*/
    text-align: right;
}

.ThTrTh9{ /*735*/
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.8125rem;
    font-weight: 400;
}

.ThTrTh10{ /*695*/
    min-width: 200px;
    font-size: 1.5em;
    font-weight: 400;
}

.ThTrTh11{ /*696*/
    color: #3C4858;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.5rem;
}
.ThTrTh12{ /*701*/
    font-size: 16px !important;
}
.ThTrTh13{ /*698*/
    min-width: 150px;
    font-size: 1.125em !important;
    text-align: right;
    font-weight: 300;
}
.ThTrTh14{ /*700*/
    line-height: 1 !important;
}
.ThTrTh15{ /*700*/
    text-align: center;
}
.ThTrTh16{ /*91*/
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
}

.ThTrTh17{ /*702*/
    margin: 0px;
    padding: 5px;
}
.ThTrTh18{ /*221*/
    color: #999;
    box-shadow: none;
    background-color: transparent;
}
.ThTrTh19{ /*221*/
    color: #999;
    box-shadow: none;
    background-color: transparent;
}
.ThTrTh20{ /*728*/
    color: inherit;
    height: 48px;
    display: table-row;
    outline: none;
    vertical-align: middle;
}
.ThTrTh21{ /*717*/
    font-size: 1.0625rem;
    text-align: right;
    font-weight: 500;
    padding-top: 20px;
}
.ThTrTh22{ /*718*/
    font-size: 26px;
    margin-top: 5px;
    text-align: right;
    font-weight: 300;
}
.ThTrTh23{ /*718*/
    text-align: right;
}


.QuanButtons{
    cursor: pointer;
    width: 100%;
}

.QuanButtons div.cross{
    cursor: pointer;
    background-color: rgb(160, 0, 160);
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    color: white;
    float: right;
    margin-right: 15px;
    -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}
.QuanButtons div.cross:hover{
    background-color: purple;
    cursor: pointer;
    
}
.QuanButtons div.cross h4{
    padding: 5px;
    color: white;
    display: inline;
    font-size: 0.8rem;
    cursor: pointer;
}
.QuanButtons div.cross i{
    margin: 0 auto;
    padding: 5px;
    color: white;
    display: inline;
    font-size: 0.8rem;
    cursor: pointer;
}

.QuanButtons div.plus{
    cursor: pointer;
    background-color: rgb(160, 0, 160);
    padding: 7px;
    border-radius: 10px;
    text-align: center;
    color: white;
    float: right;
    -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}
.QuanButtons div.plus:hover{
    background-color: purple;
    cursor: pointer;
    
}
.QuanButtons div.plus h4{
    padding: 5px;
    color: white;
    display: inline;
    font-size: 0.8rem;
    cursor: pointer;
}
.QuanButtons div.plus i{
    margin: 0 auto;
    padding: 5px;
    color: white;
    display: inline;
    font-size: 0.8rem;
    cursor: pointer;
}


.Select{
    font-size: 0.8rem;
    text-align: center;
}


.Tbody{
    display: table-row-group;
}

.TbTr{
color: inherit;
height: 48px;
display: table-row;
outline: none;
border-radius: 10px;
vertical-align: middle;
-webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
-moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}


.Center{
    text-align: center;
}

