
.Search {
    width: auto;
    margin-top: 10px;
    margin-left: 20px;
    align-items: left;
  
  }

  .Search form{
    width: 100%;
  }
  
  .Search form div {
      
    padding: 10px;
  border-radius: 60px;
  width:100%;
  margin-bottom: 10px;
  margin-left: 10px;
  align-items: center;
  
  }
  

  .Search form div input {
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(238, 238, 238);
    outline: none;
    display: flex;
      width: 100%;
      box-sizing: border-box;
    border-radius: 60px;
    font-size: 0.8rem;
  }
