.NavigationItem{
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 0.85rem;
}

.NavigationItem a {
    color: rgb(247, 247, 247);
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active{
    color: rgb(165, 165, 165);
}

.NavigationItem a.NavButton{
    margin-right: 20px;
    width: 100px;
    border-radius: 55px;
    color: rgb(247, 247, 247);
    background-color: rgb(153, 1, 153);    
    font-weight: bold;
}

.NavigationItem a.NavButton:hover{
    background-color: purple;
}


.NavigationItem{
    margin: 10px 0;
    width: 100%;
    box-sizing: border-box;
    display: block;
    font-size: 0.85rem;
}

.NavigationItemWeb a {
    color: #a5a5a5;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItemWeb a:hover,
.NavigationItemWeb a:active,
.NavigationItemWeb a.active{
    color: #a5a5a5;
}

.NavigationItemWeb a.NavButton{
    margin-right: 20px;
    width: 100px;
    border-radius: 55px;
    color: rgb(247, 247, 247);
    background-color: rgb(116, 47, 110);
    font-weight: bold;
}

.NavigationItemWeb a.NavButton:hover{
    background-color: #73236B;
}


@media (min-width:1213px){
    .NavigationItem{
        margin: 0;
        height: 100%;
        width:auto;
        display: flex;
        align-items: center; 
        font-size: 0.85rem;
    }
    
    .NavigationItem a {
        height: 100%;
    margin-right: 20px;
        padding: 22px 10px;
        border-bottom: 4px solid transparent; 
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        color: rgb(165, 165, 165);
    }
    .NavigationItem a.NavButton{
        margin-right: 20px;
        width: 100px;
        padding-top: 8px;
        text-align: center;
        height: 5px;
        border-radius: 55px;
        color: rgb(247, 247, 247);
    background-color: rgb(153, 1, 153);
        
    }
    
    .NavigationItem a.NavButton:hover{
        background-color: purple;
    }


    .NavigationItemWeb{
        margin: 0;
        height: 100%;
        width:auto;
        display: flex;
        align-items: center; 
        font-size: 0.85rem;
    }
    
    .NavigationItemWeb a {
        height: 100%;
    margin-right: 20px;
        padding: 22px 10px;
        border-bottom: 4px solid transparent; 
    }
    
    .NavigationItemWeb a:hover,
    .NavigationItemWeb a:active,
    .NavigationItemWeb a.active{
        color: #a5a5a5;
    }
    .NavigationItemWeb a.NavButton{
        margin-right: 20px;
        width: 100px;
        padding-top: 8px;
        text-align: center;
        height: 5px;
        border-radius: 55px;
        color: rgb(247, 247, 247);
        background-color: rgb(116, 47, 110);
    }
    
    .NavigationItemWeb a.NavButton:hover{
        background-color: #73236B;
    }
}

@media (max-width:1212px)  {

    .NavigationItem{
        margin: 0 auto;
        height: 100%;
        width:auto;
        display: flex;
        align-items: center; 
        font-size: 2.5rem;
    }
    
    .NavigationItem a {
        height: 100%;
    margin-right: 20px;
        padding: 22px 10px;
        border-bottom: 4px solid transparent; 
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        color: rgb(165, 165, 165);
    }

    .NavigationItem a.NavButton{
        margin-top: 30px;
        margin-right: 20px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        height: 70px;
        border-radius: 55px;
        color: rgb(247, 247, 247);
        background-color: rgb(116, 47, 110);
    }
    
    .NavigationItem a.NavButton:hover{
        background-color: #73236B;
   
   
   
   
   
    }


    .NavigationItemWeb{
        margin: 0;
        height: 100%;
        width:auto;
        display: flex;
        align-items: center; 
        font-size: 0.85rem;
    }
    
    .NavigationItemWeb a {
        height: 100%;
    margin-right: 20px;
        padding-bottom: 10px;
        border-bottom: 4px solid transparent; 
    }
    
    .NavigationItemWeb a:hover,
    .NavigationItemWeb a:active,
    .NavigationItemWeb a.active{
        color: #a5a5a5;
    }


  }
  
  
  
@media (max-width:849px) and (min-width:625px) {

    .NavigationItem{
        margin: 0 auto;
        height: 100%;
        width:auto;
        display: flex;
        align-items: center; 
        font-size: 1rem;
    }
    .NavigationItem a.NavButton{
        margin-top: 20px;
        margin-right: 20px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        height: 40px;
        border-radius: 55px;
        color: rgb(247, 247, 247);
        background-color: rgb(116, 47, 110);
    }
    
    .NavigationItem a.NavButton:hover{
        background-color: #73236B;
    }
  }
  
  @media (max-width:624px) and (min-width:0px) {
    .NavigationItem{
        margin: 0 auto;
        height: 100%;
        width:auto;
        display: flex;
        align-items: center; 
        font-size: 1rem;
    }
    .NavigationItem a.NavButton{
        margin-top: 20px;
        margin-right: 20px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        height: 40px;
        border-radius: 55px;
        color: rgb(247, 247, 247);
        background-color: rgb(116, 47, 110);
    }
    
    .NavigationItem a.NavButton:hover{
        background-color: #73236B;
    }
  }