.Main i{
    cursor: pointer;
}

.NotHead h2{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 0 auto;

}


.Link {
    text-decoration: none;
}

hr.Line{
    border-top: 1px solid #8c8b8b;
    width: 90%;
}

.Badge {
    position: relative;
    top: -10px;
    background-color: rgb(224, 0, 0);
    padding: 0px 8px;
    border-radius: 100%;
    border: 1px solid;
    border-color:rgb(224, 0, 0);
    color:white;
    font-size: 0.2rem;
  }


  .Image p{
    margin-left: 10px;
    color: black;
    white-space: nowrap;
    display: inline-block;
    flex: 1;
}


 .Image img{
    flex: 1;
    height: 35px;
    width: 35px;
    margin-left: -5px;
    object-position: top;
    object-fit: cover;
  border-radius: 100%;
}

.SingleNot i{
  margin-right:5px;
  font-size: 1.5rem;
  color: purple;
}

.Outerdiv{
  margin: 0 auto;
}

.Outerdiv:hover{
   border-radius: 5px;
   background-color: rgb(236, 236, 236);
}