.Main{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    /* background: #1D2B64; 
background: -webkit-linear-gradient(to bottom, #F8CDDA, rgb(86, 29, 100));  
background: linear-gradient(to bottom, #F8CDDA, rgb(80, 29, 100));  */

 
}
  
  .Album{
      background-color: white;
      position: relative;
      height: 100%;
      width: 85%;
      margin: 42px auto;
      padding-bottom: 40px;
      border-radius: 10px;
      overflow: hidden;
  -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
  -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
  box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
  }

.Album_Top{
    width: 100%;
    display: flex;
    padding: 10px 20px;
}

.Album div.cross{
    background-color: rgb(160, 0, 160);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    width: 10%;
    -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);-webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}
.Album div.cross:hover{
    background-color: purple;
    
}
.Album div.cross h4{
    padding: 5px;
    color: white;
    display: inline;
    font-size: 1rem;
}
.Album div.cross i{
    margin: 0 auto;
    padding: 5px;
    color: white;
    display: inline;
    font-size: 1rem;
}




.Album div.SettingButton{
    background-color: rgb(160, 0, 160);
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 20px;
    float: left;
    width: 10%;
    -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}
.Album div.SettingButton:hover{
    background-color: purple;
    
}
.Album div.SettingButton h4{
    padding: 5px;
    color: white;
    display: inline;
    font-size: 1rem;
}
.Album div.SettingButton i{
    padding: 5px;
    color: white;
    display: inline;
    font-size: 1rem;
}


.AlbumInfo{
    float:left;
    width:100%;
    text-align: left;
    margin: 0px 25px;
}


  .AlbumImage{
    width:80%;
    margin: 0px 25px;
}
  .AlbumImageSide{
      text-align: center;
    float:left;
    width:30%;
    margin: 25px 25px;
}

.AlbumImage img{
    height: 470px;
    width: 100%;
    object-position: top;
    object-fit: cover;
  border-radius: 5%;
  -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}
.AlbumImage img.imgsmall{
    height: 100px;
    width: 70px;
    object-position: top;
    object-fit: cover;
  border-radius: 5%;
  -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.704);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.704);
}

.SliderImage{
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 0 auto;
}


.Album_Bottom{
    width: 100%;
    display: flex;
    padding: 20px;
}


.ProfileInfo{
    padding-top: 190px;
    margin-bottom: 10px;
}

.ConnectIcons i{
  margin: 20px;
}

.Desc{
    margin-top: 15px;
    padding-right: 30px;
}

.Desc h4{
    margin-bottom: -10px;
}
.Desc p{
    width: 100%;
    color: rgb(87, 87, 87);
}


.WorkDisplay{
    width: 100%;
    margin: 0 auto;
}

.Work h2{
padding-left: 100px;
}

.Content{
width: 100%
}

.Content div i{
    color: white;
    background-color: rgb(116, 47, 110);
    border-radius: 23px;
    padding: 15px;
    -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.504);
  -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.504);
  box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.504);
}

.Collections{
    margin: 0 auto;
    width: 90%;
}




.Feedback{
    margin: 0 60px;
}

.Feedback h2{
padding: 0 20px;
}

.Comments{
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 10px;
    height: 120px;
    width: 90%;
    overflow: auto;
    padding: 0px 15px;
    -webkit-box-shadow: 0px 10px 24px -11px rgba(0, 0, 0, 0.504);
    -moz-box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.504);
    box-shadow: 0px 10px 24px -11px rgba(0,0,0,0.504)
}


.Comment{
    border-radius: 10px;
    padding: 0 25px;
}

.Comment p{
    margin-top: -16px;
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgb(219, 219, 219);
  
}

.EnterComment{
    text-align: center;
    margin-top: 20px;
}
/* 
.EnterComment input{
 border: 1px solid #ccc;
    outline: none;
    background: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1rem;
}


 */


 .EnterComment{
text-align: center;  
}

.EnterComment h4{
    display:inline-block;
}

  .EnterComment div {
    display:inline-block;
    padding: 5px;
  border-radius: 10px;
  font-size: 1rem;
  width: 70%;
  align-items: center;
  }

 .EnterComment div input {
    border: 1px solid #ccc;
    background: none;
    width: 100%;
    box-sizing: border-box;
    font-size: 1rem;
  }



