
.Main{
    position: relative;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
 
}


.StatsCard{
    padding-top: 80px;
    width: 15%;
    height: 100%;

    float: left
}

.FormCard{
    
    padding-top: 80px;
    /* background-color: rgb(250, 250, 250); */
    width: 55%;
    height: 100%; 
    position: relative;

    float: left
 
}



.ProfileCard{
    padding-top: 80px;
    width: 45%;
    height: 100%;
    float: left;
}


.FormSide{
    background-color: #FFFFFF;
    height: 100%;
    float: left;
    width:60%;
}

.Form{
  margin-left:55px;
width: 100%;
  
}

.Form div{
  position: relative;

}

.Form form div {
  border:2px solid #eee;
  padding: 5px;
border-radius: 5px;
font-size: 1rem;
display: grid;
width: 80%;
margin: 10px;
grid-template-columns: 1fr 3fr;
align-items: center;
}
  
  .Form form div label {
    color: #444;
    text-transform: capitalize;
    vertical-align: top;
    font-weight: bold;
    font-size: 1rem;
    padding: 6px;
    text-align: center;
    margin-right: 10px;
    border-radius:5px;
  }
  

  .Form form div input {
    border: 1px solid #ccc;
    outline: none;
    background: none;
    display: flex;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 1rem;
  }


  .Form form div textarea {

    width: 100%;
    height: 100px;
    box-sizing: border-box;
    border-radius: 4px;
    resize: none;
    outline: none;
    background: none;
    clear: both;
    border: none;
}

.Err{
  text-align: center;
  }
  
  .Err h4{
      display: inline-block;
      color: red;
      margin: 0px 20px;
  }