.Container{
margin-top: -20px;
}

.Badge {
    position: relative;
    top: -10px;
    padding: 1px 5px;
    border-radius: 100%;
    border: 1px solid;
    border-color:#9830b0;
    color:#9830b0;
  }

.NotificationIcon{
    margin-left: 25px;
}


.ImageButton{
    display: flex;
    align-items: center; 
   justify-content: center;
}

.ImageButton h4{
    margin-left: 35px;
    color: black;
    white-space: nowrap;
    display: inline-block;
    flex: 1;
}


.ImageButton img{
    flex: 1;
    height: 40px;
    width: 40px;
    margin-left: 15px;
    object-position: top;
    object-fit: cover;
  border-radius: 100%;


}

.Cart i{
    margin-left: 20px;
    font-size: 1.3rem;
}
.Cart i span{
    font-size: 1rem;
}

.NavlinkCart{
    color: black;
}

.NavigationItemsLanding {
    list-style: none;
    align-items: center;
    display: inline-block;
    height: 100%;
   
}

.NavigationItemsWeb {
    padding: 10px 10px;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: inline-block;
    height: 100%;
   
}

.Dropdown i{
    margin-left: 10px;
    margin-top: -10px;
font-size: 1.4rem;
}

@media (min-width:1213px){
    .NavigationItemsLanding{
        flex-flow: row;
        display: flex;
        margin: 30px 0;
    padding-right: 170px;
    }
    
    .NavigationItemsWeb{
        display: flex;
        margin: 20px 0;
        margin-right: 80px;
    /* padding-right: 150px; */
    }


}

  
@media (max-width:1212px)  {

    .Container{
        position:fixed;
    top: 12%;
    left: 35%;
text-align: center;
    }

    .NavigationItemsLanding {
        display: inline-block
    }
  }
  

  
  
@media (max-width:849px) and (min-width:625px) {
    .Container{
        position:fixed;
    top: 14%;
    left: 35%;
text-align: center;
    }
  }
  
  @media (max-width:624px) and (min-width:0px) {
    .Container{
        position:fixed;
    top: 17%;
    left: 27%;
text-align: center;
    }
  }